@keyframes active-hamburger {
     /* You could think of as "step 1" */
  0% {
    top: 0%;
    transform: rotateZ('0deg');
  }
  /* You could think of as "step 2" */
  100% {
    top: 50%;
    transform: rotateZ('90deg');
  }
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    position: relative;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
    z-index: 11;
}
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #ccffbd; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 3px;
      background-color: #ccffbd;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; 

    }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }

      .hamburger--spring .hamburger-inner {
        top: 2px;
        transition: background-color 0s 0.13s linear; }
        .hamburger--spring .hamburger-inner::before {
          top: 10px;
          z-index:11;
          transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        .hamburger--spring .hamburger-inner::after {
          top: 20px;
          z-index:11;
          transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      
      .hamburger--spring.is-active .hamburger-inner {
        transition-delay: 0.22s;
        background-color: transparent !important; }
        .hamburger--spring.is-active .hamburger-inner::before {
          top: 0;
          z-index:11;
          transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, 10px, 0) rotate(45deg); }
        .hamburger--spring.is-active .hamburger-inner::after {
          top: 0;
          z-index:11;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, 10px, 0) rotate(-45deg); }


    .mini-nav-cont {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px 10px;
        width: min(75vw, 400px);
        height: 100vh;
        outline: 0px;
        background:  #061a33 ;
        box-shadow: -10px 0px 30px -15px rgba(2,12,27,0.7);
        z-index: 5;
        transform: translateX(100vw);
        transition: all 0.4s cubic-bezier(0.645,0.045,0.355,1);
    }

    .mini-nav-cont.is-active {
        transform: translateX(0vw);
        transition: all 0.4s cubic-bezier(0.645,0.045,0.355,1);
    }

    .list-item {
        display: inline-block;
        padding: 3px 20px 20px;
    }

    .mini-nav-cont li {
        margin: 0px auto 10px;
        font-size: 1.2em;
        font-family: mono;
        color: rgb(204, 214, 246);
    }



    body.blur .content > * {
        filter: blur(5px) brightness(0.7);
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        pointer-events: none;
        user-select: none;
    }