.content-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content {
  padding: 0px 150px;
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .main-content {
    padding: 0px 25px;
  }
}
