@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  font-family: sans-serif;
  text-align: center;
  height: 80vh;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #02080f;
}
