@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  font-family: sans-serif;
  text-align: center;
  height: 80vh;
  padding: 10px;
}

body {
  padding: 30px;
  background-color: rgb(240, 238, 236);
}
